@use '../abstracts/_variables' as *;
@use '../abstracts/mixins' as *;
.hero-section{
    background-image: url("./Bg.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100%;
    .container{
            height:100vh;

        color: $bg-color;
        @include displayType(flex , center ,center);
        flex-direction:column;
        text-align: center;
      
    }
      .hero-title{
            margin-bottom: 2rem;
            h1{
                margin-bottom: 1rem;
            }
        }
        .hero-actions{
            margin-top: 3rem;
        }
}
