@use '../abstracts/_variables' as *;
@use '../abstracts/mixins' as *;

.cards-section{
  .container{
      .section-show-search{
           .section-title{
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
             h1{
                margin-bottom: 1rem;
                color:$primary-color; 
             }
           }
           .cards-view{
             @include displayType(flex , center, space-between);
             flex-wrap: wrap;
           }
    }
 }
}